
/*body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #0ab3e7 50%, #e40ca0 50%);
  }
  
  img {
    border-radius: 80%;
    border: 2px solid #fdfbfc;
    background-color: rgb(80, 200, 200);
  }
  
  .uno {
    font-weight: bold;
  }
  h1{
    background-color: rgb(24, 243, 228);
  }*/
  .rectangulo {
    width: 600px;
    margin: 20px auto; /* Ajusta el margen según sea necesario */
    border: 2px solid #f70ecc; /* Borde de 2 píxeles sólido, puedes personalizarlo */
    padding: 20px; /* Relleno interno del rectángulo, ajusta según sea necesario */
    background: linear-gradient(to bottom, #7ee3fd 50%, #ef87b6 50%); /* Degradado lineal */
    text-align: center; /* Centra el contenido */
  }

  .nombre {
    color: #000; /* Color del texto, puedes personalizarlo */
  }

  img {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border-radius: 50%; /* Hace que la imagen tenga esquinas redondeadas, creando un círculo */

  }